body {
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
}

.myImage {
    border-radius: 100%;
    object-fit: cover;
    margin: 20px auto;
    display: block;
    width: 300px;
    height: 300px;
    float: right;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);;
}

#navbar {
    position: fixed;
    top: 0;
    padding: 10px;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.755);
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar-line {
    position: fixed;
    top: 30px; 
    width: 100%;
    border: none;
    height: 2px;
    background-color: rgba(159, 157, 157, 0.396); /* Change color if needed */
    z-index: 999;
}

#navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

#navbar ul li {
    margin: 0 20px;
}

#navbar ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#navbar ul li a:hover {
    color: #007BFF;
    transition: color 0.3s ease
}

#contents {
    margin-top: 40px;
    padding: 2%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#connection {
    position: fixed;
    bottom: 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.755);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#connection ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

#connection ul li {
    margin: 0 10px;
}

#connection p {
    font-size: 12px;
}

.fa-brands {
    font-size: 50px;
    color: black;
}

.fa-brands:hover {
    color: #007BFF;
    transition: color 0.3s ease
}

#navbar ul li a.active {
    color: #007BFF;
    font-weight: bold; 
}

#navbar ul li a.active:hover {
    color: #0056b3; 
    font-weight: bold; 
}

.bucket-list {
    list-style-type: none;
    padding-left: 20px;
}

.bucket-list li {
    margin: 5px 0;
    position: relative;
    padding-left: 25px;
}

.bucket-list li::before {
    content: "\f005";    
    font-family: "Font Awesome 5 Free";
    position: absolute;
    left: 0;
    top: 0;
}

@media (max-width: 80%) {
    .myImage {
        width: 80%;
        height: auto; 
        float: none; 
        display: block;
        margin: 0 auto 15px;
    }
    #navbar ul {
        flex-direction: column;
        align-items: center;
    }
    #navbar ul li {
        margin: 10px 0;
    }
    #contents {
        width: 90%;
    }
}