body {
    background-color: var(--bg-color);
    font-family: 'Courier New', Courier, monospace;
    color: var(--text-color);
    transition: background-color 0.5s ease, color 0.5s ease;
}

.myImage {
    border-radius: 100%;
    object-fit: cover;
    margin: 20px auto;
    display: block;
    width: 300px;
    height: 300px;
    float: right;
    box-shadow: var(--box-shadow);
}

#navbar {
    position: fixed;
    top: 0;
    padding: 10px;
    z-index: 1000;
    background-color: var(--navbar-bg);
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar-line {
    position: fixed;
    top: 30px; 
    width: 100%;
    border: none;
    height: 2px;
    background-color: var(--navbar-line-color); 
    z-index: 999;
}

#navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

#navbar ul li {
    margin: 0 20px;
}

#navbar ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#navbar ul li a:hover {
    color: var(--navbar-color);
    transition: color 0.3s ease
}

#contents {
    margin-top: 40px;
    padding: 2%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#connection {
    position: fixed;
    bottom: 0;
    padding: 10px;
    background-color: var(--navbar-bg);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#connection ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

#connection ul li {
    margin: 0 10px;
}

#connection p {
    font-size: 12px;
}

.fa-brands {
    font-size: 50px;
    color: var(--text-color);
}

.fa-brands:hover {
    color: var(--link-color);
    transition: color 0.3s ease
}

.fa-solid {
    font-size: 50px;
    color: var(--text-color);
}

.fa-solid:hover {
    color: var(--link-color);
    transition: color 0.3s ease
}

#navbar ul li a.active {
    color: var(--navbar-color);
    font-weight: bold; 
}

#navbar ul li a.active:hover {
    color: var(--link-color); 
    font-weight: bold; 
}

.bucket-list {
    list-style-type: none;
    padding-left: 20px;
}

.bucket-list li {
    margin: 5px 0;
    position: relative;
    padding-left: 25px;
}

.bucket-list li::before {
    content: "\f005";    
    font-family: "Font Awesome 5 Free";
    position: absolute;
    left: 0;
    top: 0;
}

@media (max-width: 80%) {
    .myImage {
        width: 80%;
        height: auto; 
        float: none; 
        display: block;
        margin: 0 auto 15px;
    }
    #navbar ul {
        flex-direction: column;
        align-items: center;
    }
    #navbar ul li {
        margin: 10px 0;
    }
    #contents {
        width: 90%;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px; 
    overflow: hidden; 
}

table th {
    color: black;
    padding: 10px;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
}

table td {
    padding: 10px;
}

table td:hover {
    background-color: #51f1fd32;
}

table tr:first-child {
    background-color: #51f2fd;
}

.soft-skills-list {
    list-style-type: none;
    padding-left: 20px;
}

.soft-skills-list li {
    margin: 5px 0;
    position: relative;
    padding-left: 25px;
}

.soft-skills-list li::before {
    content: "\f164";    
    font-family: "Font Awesome 5 Free";
    position: absolute;
    left: 0;
    top: 0;
}

#projects a {
    text-decoration: none;
    color: black;
}

#projects a:hover {
    color: var(--navbar-color);
    transition: color 0.3s ease;
    text-decoration: wavy underline;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgba(159, 157, 157, 0.396);
}

#section-navbar {
    position: sticky;
    top: 40px;
    background-color: rgba(255, 255, 255, 0.755);
    padding: 10px;
    z-index: 999;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#section-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

#section-navbar ul li {
    display: inline;
}

#section-navbar ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#section-navbar ul li a:hover {
    background-color: black;
    color: white;
}

.fa-moon {
    font-size: 15px;
}

.fa-sun {
    font-size: 15px;
}

.dark-mode-toggle {
    cursor: pointer;
    margin-left: 10px;
    border: none;
    background: none;
}

.dark-mode-toggle:hover {
    color: var(--navbar-color);
    transition: color 0.3s ease;
}

.dark-mode-toggle i {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.dark-mode-toggle i.animate {
    transform: rotate(180deg);
    opacity: 1;
}

:root {
    --bg-color: #ffffff;
    --text-color: #111111;
    --navbar-color: #007BFF;
    --navbar-bg: rgba(255, 255, 255, 0.755);
    --card-bg: #f2f2f2;
    --link-color: #0056b3;
    --button-color: #ffffff;
    --navbar-line-color: rgba(159, 157, 157, 0.396);
    --box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  }

  body.dark-mode {
    --bg-color: #121212;
    --text-color: #e0e0e0;
    --navbar-color: #ffffff;
    --navbar-bg: #b9b7b774;
    --card-bg: #1e1e1e;
    --link-color: #67effc;
    --button-color: #ffffff;
    --navbar-line-color: rgba(255, 255, 255, 0.396);
    --box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.5);
  }